In [124]:
import pandas as pd
import numpy as np

# intro to dataframes

## dataframe from lists

In [125]:
df = pd.DataFrame(
        [               # bidimensional array
            [1, 2, 3],  # each subarray is a row
            [4, 5, 6],  # default index is the subarray index: 0, 1, 2
            [7, 8, 9],  # default column names ara a range starting from 0
    ]
)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

### columns and index

In [126]:
df.columns, df.index

(RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=3, step=1))

In [127]:
df.index.to_list(), df.columns.to_list()

([0, 1, 2], [0, 1, 2])

### add column names

In [128]:
df = pd.DataFrame(
        [               # bidimensional array
            [1, 2, 3],  # each subarray is a row
            [4, 5, 6],  # default index is the subarray index: 0, 1, 2
            [7, 8, 9],  # default column names ara a range starting from 0
    ],
    columns='A B C'.split() # custom column names are a list of column names
)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [129]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

### custom index

In [130]:
df.index = 'x y z'.split()
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

## explore dataframes

### head and tail

In [131]:
print(df.head(1), '\n\n',  df.tail(1))

   A  B  C
x  1  2  3

    A  B  C
z  7  8  9

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [133]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [134]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [135]:
df['A'].unique()

array([1, 4, 7])

In [136]:
df.loc['zz'] = [10, 11, 12]
df

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [137]:
df.shape

(4, 3)