In [1]:
import pandas as pd
import numpy as np

# Loading dataframes from files

## load local csv

In [2]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

## load remote csv

In [3]:
coffee_remote = pd.read_csv('https://raw.githubusercontent.com/atrox3d/pandas_keith-galli-complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
assert coffee.equals(coffee_remote)

## load parquet

In [4]:
results = pd.read_parquet('./data/results.parquet')

### load excel file, specific sheet

In [5]:
olympics = pd.read_excel('./data/olympics-data.xlsx', sheet_name='results')

In [6]:
bios = pd.read_csv('./data/bios.csv')

### count unique values

In [7]:
coffee.nunique()

Day            7
Coffee Type    2
Units Sold     7
dtype: int64

### get unique values

In [8]:
coffee.Day.unique().tolist()

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']