In [4]:
import pandas as pd
import numpy as np

# Merging and Concatenating

In [5]:
bios = pd.read_csv('./data/bios.csv')
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [6]:
nocs = pd.read_csv('./data/noc_regions.csv')
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

## join dfs

In [7]:
bios_merge = pd.merge(
    bios, 
    nocs, 
    left_on='born_country', 
    right_on='NOC', 
    how='left',
    suffixes=['_bios', '_noc']
)
bios_merge.rename(columns={'region': 'born_country_full'}, inplace=True)
bios_merge.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_bios,height_cm,weight_kg,died_date,NOC_noc,born_country_full,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

## concatenate dfs

In [8]:
usa = bios[bios['born_country']=='USA'].copy()
gbr = bios[bios['born_country']=='GBR'].copy()

display(usa.head())
display(gbr.head())

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
961,965,Angélica Gavaldón,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
37,38,Helen Aitchison,1881-12-06,Sunderland,England,GBR,Great Britain,NaN,NaN,1947-05-26
38,39,Geraldine Beamish,1883-06-23,Forest Gate,England,GBR,Great Britain,NaN,NaN,1972-05-10
39,40,Dora Boothby,1881-08-02,Finchley,England,GBR,Great Britain,NaN,NaN,1970-02-22
40,41,Julie Bradbury,1967-02-12,Oxford,England,GBR,Great Britain,175.0,64.0,NaN

In [9]:
usa_gbr = pd.concat([usa, gbr])

In [10]:
usa_gbr.sample(10)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
143737,147392,Scott Kazmir,1984-01-24,Houston,Texas,USA,United States,183.0,NaN,NaN
68569,69086,George Gray,1887-12-25,Chesterton,England,GBR,Great Britain,NaN,NaN,1970-12-11
95853,96627,Chris Puckett,1970-06-11,Wheat Ridge,Colorado,USA,United States,NaN,NaN,NaN
126425,128779,Kelly Gunther,1987-08-14,Oberlin,Ohio,USA,United States,165.0,65.0,NaN
99913,100714,Derian Hatcher,1972-06-04,Sterling Heights,Michigan,USA,United States,195.0,107.0,NaN
126692,129070,Amie Thompson,1996-01-31,Hendon,England,GBR,Australia,165.0,58.0,NaN
140298,143804,Aaron Geramipoor,1992-09-11,Stockport,England,GBR,Islamic Republic of Iran,214.0,NaN,NaN
56579,56982,Phil Grippaldi,1946-09-27,Newark,New Jersey,USA,United States,168.0,77.0,NaN
107199,108322,Sean Spencer,1975-05-29,Seattle,Washington,USA,Greece,165.0,82.0,NaN
46652,47001,Annabelle Cripps,1968-02-16,Madison,Wisconsin,USA,Great Britain,180.0,66.0,NaN

### check is the negated df is empty

In [11]:
check = usa_gbr[ ~ usa_gbr['born_country'].isin(['USA', 'GBR'])]
assert len(check) == 0
# 1st element of Series -> scalar
assert usa_gbr.head(1)['born_country'].iloc[0] == 'USA'
# 1st element of Series -> scalar
assert usa_gbr.head(1)['born_country'].iat[0] == 'USA'
# 1st element of Series -> scalar
assert usa_gbr.tail(1)['born_country'].iloc[0] == 'GBR'
# 1st element of Series -> scalar
assert usa_gbr.tail(1)['born_country'].iat[0] == 'GBR'

In [12]:
results = pd.read_parquet('./data/results.parquet')
display(results.head(3))
display(bios.head(3))

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17

In [13]:
combined_df = pd.merge(results, bios, on='athlete_id', how='left')
combined_df.head(3)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02